<%= render 'books/list', user: @user, book: @book %>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <%= book.user.name %>
  <p>title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>
